extends layout

include mixins/_recordCard
include mixins/_pagination

block content
	.inner
		h2= title
		.records
			each record in records
				+recordCard(record)
		+pagination(page, pages, count)
