.nav {
	display: flex;
	list-style: none;
	justify-content: space-between;
	border-bottom: 1px solid silver;
	&__section {
		display: flex;
		justify-content: space-between;
	}
	&__item {
		align-self: flex-end;
		width: 60px;
		display: flex;
		margin: 10px 10px 0px 10px;
	}
	&__link {
		text-align: center;
		border-bottom: 5px solid transparent;
		&:hover, &--active {
      		border-bottom-color: rgba(0,0,0,0.2);
      	}
	}
}

svg {
    height: 40px;
    width: 40px;
}