.single {
  text-align: center;
  &__hero {
    text-align: left;
    display: inline-block;
    margin: 0 auto;
    background: white;
    padding: 10px 10px 0 10px;
    line-height: 1.2;
  }
  &__image {
    width: 100%;
    max-width: 400px;
  }
}